/*********** Colors *********
$color-initial: #fff
$color-primary: #0366d6
$color-secondary: #606c76
$color-tertiary: #f4f5f6
$color-quaternary: #d1d1d1
$color-quinary: #e1e1e1
****************************/

/*********** Elements *********/
a {
    color: #0366d6;
}

/*********** Wrapper *********/
.wrapper {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.wrapper .container {
    max-width: 140.0rem;
}

.wrapper > .container {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
}
/*********** Navigation *********/
.navigation {
    background: #f4f5f6;
	border-bottom: .1rem solid #d1d1d1;
	display: block;
	height: 5.2rem;
	left: 0;
	max-width: 100%;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .title {
    color: #606c76;
    display: inline;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2.6rem;
    line-height: 5.2rem;
    padding: 0;
    position: relative;
    text-decoration: none;
}

/*********** Footer *********/
.footer {
    padding: 8.0rem 0 2.0rem;
}

.footer .copyright {
    padding-right: 6.0rem;
}

.footer .nav {
    position: absolute;
    right: 2.0rem;
    top: 50%;
    transform: translateY(-50%);
}

.footer .link {
    display: inline-block;
    margin-left: 1.2rem;
    padding: 0;
}

.footer .icon {
    fill: #0366d6;
    height: 2rem;
}

.footer .icon:hover {
    fill: #606c76;
}
